@charset "utf-8";

/* -- Class unique -- */

.italic {font-style: italic;}
.overflowAuto {overflow: auto;}
.marginTop20px {margin-top: 20px;}
.rose {font-size:inherit;color:rgb(213, 158, 200);}

html, body {
    height: 100%;
}